body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("trippy15.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

h1, h2, h3 {
    color: yellow;
}

main {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

#keyboard-reference p {
    color: yellow;
}

#black-key-table td {
    font-size: 14px;
}

#key-view {
    width: 100%;
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: auto;
}

#gain-slider-wrap {
    display: flex;
    align-items: center;
}

#gain-slider-wrap h4 {
    padding-right: 10px;
}

#gain-slider {
    flex: 1;
    margin-left: 10px;
}

#gain-slider-wrap p {
    padding-left: 10px;
}

#note-stuck-notice {
    color: yellow;
}

footer a {
    color: aliceblue;
}

footer a:hover {
    color: yellow;
}

@media screen and (mx-width: 800px) {
    main {
        padding: 10px;
    }

    #key-view {
        max-width: 600px;
    }

    #gain-slider-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    #gain-slider-wrap h4 {
        padding: 0;
    }

    #gain-slider-wrap p {
        padding: 0;
    }

    #gain-slider {
        margin: 10px 0;
    }
}